{% extends '/base.html.twig' %}

{% block title %} Bestelling overzicht {% endblock %}

{% block content2 %}
    <div class="container mt-5 d-flex justify-content-center text-light">
        {{ form(loginForm) }}
    </div>

{% endblock %}