{% extends '/base.html.twig' %}

{% block title %} OrderForm {% endblock %}

{% block content %}
    <h3 class="fw-bold text-light mt-5">Bestelling overzicht</h3>
<div class="wrapper bg-light">
<div class="container py-5">
    <div class="row">
        <div class="col-6">
            <p>
                Naam:
                {{ form(form.name) }}
                <br>
                Adrres:
                {{ form(form.address) }}
                <br>
                Datum:

                <br>
                Tijd:

                <br><br>
                {{ form(form) }}

            </p>



        </div>
        <div class="col-1"></div>
        <div class="col-5">
            <div class="orderView">
                <p class="">Bestelling:</p>
                <p class="">Totaal:</p>
            </div>
        </div>
    </div>
</div>
</div>


{% endblock %}