{% extends '/base.html.twig' %}

{% block title %} status update {% endblock %}

{% block content %}
    <div class="container mt-5 d-flex justify-content-center text-light">
        {{ form(updateStatus) }}
    </div>

{% endblock %}