{% extends 'base.html.twig' %}

{% block title %} Pizziloli home {% endblock %}

{% block content %}
    <div class="text-light">
        <hr><br>
    </div>
    <div class="carousel row mx-1">

        <div class="col-md-12 col-lg-6 px-5">
            <h1 class="mt-5 text-light fw-bolder">Welkom bij Pizziloli</h1>
            <br>
            <p class="text-light">
                Wij hebben 17.000  winkels over de hele wereld. Alleen al in Nederland  maken wij ieder
                jaar 20 miljoen pizza's. Al onze pizza's worden vers gemaakt, direct nadat je bestelling
                plaats.
            </p>
            <br><br>
            <orderbtn class="d-flex justify-content-start my-4">
                <button class="orderBtn w-75 py-4">Bestellen</button>
            </orderbtn>
            </div>

        <div class="carouselImg col-md-12 col-lg-6 d-flex justify-content-center">
            <img class="carouselImg rounded img-fluid" src="/img/carouselImg.jpg" alt="pizzaImg">
        </div>
    </div>
    <div class="text-light">
        <hr><br>
    </div>
{% endblock %}
{% block content2 %}

    <div class="row">
        <div class="col-1"></div>
        <div class="col-10"><h3 class=" pb-1 text-light fw-bold">Kies uit</h3></div>
        <div class="col-1"></div>
    </div>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="row gap-5 d-flex justify-content-between">
                <div class="col px-1">
                    <div class="catoCard card">
                        <a class="catoA" href="#">
                        <img class="catoImg1 card-img-top" src="/img/catoImg1.jpg" alt="Card image">
                        <div class="card-img-overlay h-100 d-flex flex-column justify-content-center align-items-center">
                            <h1 class="card-title text-light fw-bold">Vegatarische </h1>
                            <h1 class="card-title text-light fw-bold">pizza</h1>
                        </div>
                        </a>
                    </div>
                </div>
                <div class="col px-1">
                    <div class="catoCard card">
                        <a class="catoA" href="#">
                        <img class="catoImg1 card-img-top" src="/img/catoImg2.jpg" alt="Card image">
                        <div class="card-img-overlay h-100 d-flex flex-column justify-content-center align-items-center">
                            <h1 class="card-title text-light fw-bold"> Vlees pizza</h1>
                        </div>
                        </a>
                    </div>
                </div>
                <div class="col px-1">
                    <div class="catoCard card">
                        <a class="catoA" href="#">
                        <img class="catoImg1 card-img-top" src="/img/catoImg3.jpg" alt="Card image">
                        <div class="card-img-overlay h-100 d-flex flex-column justify-content-center align-items-center">
                            <h1 class="card-title text-light fw-bold">Vis pizza</h1>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
{% endblock %}